

*{
    /*margin:0;*/
    padding:0;
    text-align: center;   
}

body
{
    /*background:radial-gradient( rgb(224, 224, 210)8%, rgb(29, 29, 29)130%);*/
    background:radial-gradient( rgb(255, 255, 255)8%, rgb(131, 131, 131)130%);
}
.box{

    width:1000px;
    height:200px;
    /*background: linear-gradient( rgb(36, 55, 77)1%, rgb(32, 111, 156) 90%);*/
    margin: auto;
}

.main{
    width:1000px;
    border-radius: 4px 4px 4px 4px;
    height:1000px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.384);

}
.post{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width:830px;
    height:800px;
    background: linear-gradient( rgb(207, 207, 207)78), white);
    padding-top:10px;
    margin-top: 10px;
    border-radius: 4px;
}

.about{
    display:grid;
    width:630px;
    grid-template-columns: repeat(2, 1fr);
    margin:auto;
    border-radius: 4px;
    background-color: rgb(252, 252, 252);

}

.abouttext{
    text-align: left;
    font-size: 13px;
    margin: 15px;
    margin-right:0px;
    font-family: 'Syne', sans-serif;
    color: rgb(37, 37, 37);
}

.blog{
    display:grid;
    width:600px;
    margin:auto;
    border-radius: 4px;
    background-color: rgb(252, 252, 252);
    margin-top: 10px;

}
.blogheader{
    text-align: left;
    color: rgb(40, 46, 128);
    font-family: 'Syne', sans-serif;
    margin:15px;
    margin-bottom:0px;
}

.firstblogheader{
    text-align: left;
    color: rgb(40, 46, 128);
    font-family: 'Syne', sans-serif;
    margin:15px;
    margin-bottom:0px;
}
.blogdate{
    text-align: left;
    font-size: 12px;
    font-family: 'Syne', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    margin-top:0px;
    font-family: 'Syne', sans-serif;
    color: rgb(37, 37, 37);
    font-weight: bold;
}

.blogtext{
    text-align: left;
    font-size: 12px;
    font-family: 'Syne', sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    font-family: 'Syne', sans-serif;
    color: rgb(37, 37, 37);
}

.producttext{
    margin-top: 0px;
    font-size: 13px;
    font-family: 'Syne', sans-serif;
    color: rgb(37, 37, 37);
}
b{
    text-align: left;
    font-size: 12px;
    font-family: 'Syne', sans-serif;
    margin:0;
    padding:0;
}

.blogli{
    text-align: left;
    margin-left: 15px;
    font-size: 12px;
    font-family: 'Syne', sans-serif;
}
.studio{
    width:300px;
    margin: 15px;
    border-radius: 4px;
}


.banner-line2{

    margin: auto;
    border-radius: 4px 4px 0px 0px;
    background: radial-gradient( rgb(245, 242, 242)7%, rgb(87, 87, 87) 70%);
}
.banner{

    border-radius: 4px;
    image-rendering:crisp-edges;
 

}
.ulnav{
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style-type: none;
    font-size: medium;
    color:rgb(14, 14, 14);
    width:1000px;
    margin: 0 auto;

}
.linav{
    text-indent: 15px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
li a{
    text-decoration:none;
    color:rgb(14, 14, 14);
}

a{
    text-decoration:none;
    color:rgb(61, 58, 204);
}
a:active{
    text-decoration:none;
    color:rgb(14, 14, 14);
}
.navlink:visited{
    text-decoration:none;
    color:rgb(14, 14, 14);
}



.productpost{
    position: absolute;
    width:250px;
    height:250px;
    background-color: #eeeeee;
    margin-left:20px;
    margin-top:20px;
    padding-left: 5px;
    border-radius: 2px;
}
.product{
    width:200px;
    height:200px;
}
h2{
    margin: 5px;
    /*text-align:left;*/
    font-family: 'Syne', sans-serif;
    color: rgb(37, 37, 37);

}
h4{
    margin: 5px;
    text-align:left;
    
}

h5{
    text-align:right;
    margin: 5px;
    font-family: 'Syne', sans-serif;
}
a{
    font-family: 'Syne', sans-serif;
    font-weight: 10px;
}

.iframe{
    width:"560px"; 
    height:"315px";
}



.albums{
}


.test{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

    .aa{
    width:255px;

    border: 1px solid rgb(0, 0, 0);

    }

    .aa2{
        width:255px;
        filter:grayscale(100%);
        border: 1px solid rgb(0, 0, 0);}

    .aa:hover{
        transition: 0.1s;
        transform:scale(1.060)
    }


.bb{
    width:50px;
}
.bb2{
    width:50px;
    filter:grayscale(100%);
}

/*Responsive*/

@media only screen and (max-width: 8000px) { 

    .main{
        width:90%;
        border-radius: 4px 4px 4px 4px;
        height:1000px;
        left:5%;
        margin:0 auto;
        background-color: rgba(255, 255, 255, 0.384);
        position: fixed;
    }
    .box{
        border-radius: 4px;
        image-rendering:crisp-edges;
        width:96%;
        height:10%;
        left:5%;
    }
    .banner{
        border-radius: 4px;
        image-rendering:crisp-edges;
        width:96%;
        left:5%;
        padding-bottom:1%;
        margin-bottom:1%;
    }
    .post{
        position: absolute; 
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
        width:90%;
        height:800px;
        background: linear-gradient( rgb(207, 207, 207)78), white);
        padding-top:10px;
        margin-top: 10px;
        border-radius: 4px;
    }

    .ulnav{
        display: inline-block;
        padding-top:0;
        margin-top:0;
        padding-bottom: 2%;
        list-style-type: none;
        font-size: 100%;
        color:rgb(14, 14, 14);
        width:90%;
        margin: 0 auto;
}
.nav{
    padding:0%;
    margin:0%;
}

h2{
    margin: 5px;
    font-size: 100%;
    font-family: 'Syne', sans-serif;
    color: rgb(37, 37, 37);
}
.youtu{
width:80%;
height:30%;
}


